
body {
    margin: 0px;
    font-family: 'Kalam', cursive;
    color: #333333;
}
textarea{
  
    border: 1px solid black;
    width: 80%;
    height: 20vh;
    margin: 1rem;
    display: block;
    margin-left: 7%;
    padding: 0.5rem;
    font-size: 20px;
    font-family: 'Kalam', cursive;

}
textarea::placeholder{
     font-size: 20px;
}

#heading {
    
    margin: 0px;
    display: block;
    text-align: center;
    background-color: yellow;
    padding: 2rem;
    height: 4rem;
}

#output {


    border: 1px solid black;
    width: 80%;
    height: 20vh;
    margin: 1rem;
    margin-left: 7%;
    display: block;
    padding: 0.5rem;
    font-size: 20px;
}

#btn-translate {

margin-left: 7%;
margin-top: 2rem;
height: 5vh;
background-color: yellow;
font-family: 'Kalam', cursive;
font-size: large;

}

#footer {
   padding-bottom: 1rem;
   margin-top: 3rem;
   padding: 1rem;
    text-align: center;
    background-color: yellow;
}

